.column {
  width: 450px;
  float: left;
  background-color: #c2c3c4;
}

.column2 {
  width: 450px;
  float: left;
  background-color: #9a79b2;
}

.column3 {
  width: 450px;
  float: left;
  background-color: #79b27c;
}

#before, #during, #after {
  width:450px;
}

div h2 {
  color: yellow;
  padding-left: 20px;
}

div p {
  padding: 0px 20px 0px 20px;
}

h1 #special {
  color: red;
}
