body {
  background-color: black;
}

h1 {
  color: white;
}

.column {
  width: 30%;
  float: left;
  background-color: #9a79b2;
  border: 5px solid white;
}

#lemur, #mouse, #penguin {
  width:100%;
}

div h2 {
  color: yellow;
  padding-left: 20px;
}

div p {
  padding: 0px 20px 0px 20px;
}

h1 #special {
  color: red;
}

/* This is for tablets */
@media screen and (max-width: 1000px) and (min-width: 551px) {
  body {
    background-color: #333;
    color: white;
  }

  p {
    font-size: 18px;
  }
}

/* This is for small screens */
@media screen and (max-width: 550px) and (min-width: 300px) {
  body {
    background-color: #444;
  }

  #before, #during, #after {
    width:360px;
  }

  p {
    font-size: 20px;
  }

  .column {
    width: 360px;
    float: left;
    background-color: #9a79b2;
    border: 5px solid white;
  }

}
